@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
::selection {
  background-color: #ead5f1;
}

/* Boton arriba */
.arriba {
  border: solid 1px #debaeb;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ead5f1;
  transition: background-color 0.5s;
}
.arriba:hover {
  background-color: #debaeb;
}
.arriba a {
  font-weight: 600;
  color: black;
  transition: color 0.5s;
}
.arriba a:hover {
  color: white;
}

/* Fin Boton arriba */
/* Botón contame tu idea */
.contame {
  border: #ead5f1 1px solid;
  display: inline-block;
  padding: 10px;
  background-color: #ead5f1;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.5s;
}
.contame:hover {
  background-color: #debaeb;
}
.contame a {
  font-weight: 600;
  color: black;
  transition: color 0.5s;
}
.contame a:hover {
  color: white;
}

/* Fin Botón contame tu idea */
/* Boton tienda */
.tienda {
  position: fixed;
  bottom: 35px;
  left: 15px;
}
.tienda:hover {
  transform: scale(1.15);
}
.tienda a {
  color: black;
  font-size: 3rem;
}

/* Fin Boton tienda */
/* Pie de página */
.footer-container {
  background-color: rgba(222, 186, 235, 0.5647058824);
  color: grey;
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: space-between;
  width: 100%;
  height: 55px;
}
.footer-container .suscribirse {
  width: 55%;
  display: flex;
  margin-left: 16px;
  position: relative;
  top: 2px;
}
.footer-container .suscribirse input {
  font-size: small;
  position: relative;
  bottom: 1px;
}
.footer-container .suscribirse input:focus {
  background-color: whitesmoke;
}
.footer-container .desarrollado {
  font-size: 1rem;
  width: 30%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10px;
}

/* Fin Pie de página */
/* Barra de navegacion */
.header {
  position: sticky;
  z-index: 10;
  top: 0;
}
.header nav.navegacion {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  height: 90px;
}
.header .logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 12%;
  height: 90px;
}
.header .navegacion-nav {
  display: flex;
  width: 30%;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.header .navegacion-nav .nav-item {
  padding: 10px;
  position: relative;
  font-size: 1.2rem;
  top: 10px;
  right: 10px;
}
.header .navegacion-nav .nav-item:hover {
  border-bottom: 1px solid #debaeb;
}
.header .navegacion-nav .nav-item a {
  color: #debaeb;
}

/* Menu mobile */
#check-menu, .navegacion label {
  display: none;
}

.navegacion label i {
  font-size: 1.8rem;
  color: #debaeb;
}

/* Fin Barra de navegacion */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Root */
:root {
  font-size: 1rem;
}

/* Fin Root */
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  background-color: #ead5f1;
  text-align: center;
  font-size: 3.125rem;
  font-weight: bold;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  color: #debaeb;
  font-size: 2.375rem;
  font-weight: bold;
  text-align: center;
}

/* Presentacion */
.presentacion {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 80%;
  height: 400px;
}
.presentacion img {
  position: relative;
  top: 20px;
  left: 130px;
}
.presentacion p {
  position: relative;
  top: 30px;
  left: 150px;
  font-size: 1rem;
  font-weight: bold;
}

/* Fin presentacion */
/* Banner mis trabajos */
.banner-container {
  position: relative;
  width: 100%;
  height: 50vh;
  top: 0;
  transition: opacity 0.5s;
}
.banner-container:hover {
  opacity: 0.9;
}
.banner-container .banner {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-container .capa a {
  background-color: rgba(0, 0, 0, 0.095);
  position: absolute;
  top: 0;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}
.banner-container .banner-text {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  position: absolute;
  top: 42%;
  left: 35%;
  border-radius: 5px;
  padding: 10px;
}

/* Fin Banner mis trabajos */
/* Seguinos en nuestras redes */
.redes {
  text-align: center;
}
.redes a {
  color: black;
  font-size: 3rem;
  padding: 0 15px;
  text-align: center;
}
.redes i:hover {
  transform: scale(1.15);
}

/* Fin seguinos en nuestras redes */
/* Servicios */
.servicios {
  text-align: center;
  margin: 25px;
  margin-top: 50px;
}
.servicios li {
  border-color: #debaeb;
  font-weight: bold;
}

/* Fin servicios */
/* Sección comentarios de Emprendedores */
.opiniones h2 {
  margin: 20px;
}
.opiniones .contenedor-opiniones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.opiniones .caja-opinion {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  box-shadow: 0 0.8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 200px;
}
.opiniones .caja-opinion .comentario {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
}
.opiniones .caja-opinion .usuario h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(234, 213, 241, 0.5019607843);
}
.opiniones .caja-opinion .puntuacion i {
  font-size: 1.5rem;
}

/* Fin Sección comentarios de Emprendedores */
/* Página contacto */
.contactame {
  width: 60%;
  margin: 30px 0px 30px 0px;
  position: relative;
  left: 20%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* Formulario contacto y mapa */
.contacto {
  background-color: rgba(234, 213, 241, 0.509);
  padding: 1.5em;
  margin: 15px auto 15px auto;
  width: 1200px;
  height: 600px;
}
.contacto form input,
.contacto form textarea {
  width: 100%;
  padding: 0.7em;
  background-color: white;
  margin: 5px 0 5px 0;
}
.contacto form input:focus, .contacto form input:hover,
.contacto form textarea:focus,
.contacto form textarea:hover {
  background-color: whitesmoke;
}
.contacto form .boton {
  width: 20%;
  background-color: rgba(222, 186, 235, 0.388);
  text-transform: uppercase;
  font-weight: 800;
  transition: all 0.5s;
}
.contacto form .boton:hover, .contacto form .boton:focus {
  background-color: rgba(222, 186, 235, 0.665);
  color: white;
}
.contacto form label {
  font-weight: 600;
}
.contacto form textarea {
  resize: none;
}
.contacto .botones {
  position: relative;
  left: 30%;
  top: 30px;
}

.mapa iframe {
  position: relative;
  left: 355px;
  margin-top: 50px;
  margin-bottom: 40px;
  top: 30px;
}

/* Fin Página contacto */
/* Página Empretips */
.tips-container {
  width: 100%;
  display: grid;
  row-gap: 10px;
  margin-top: 10px;
  justify-content: center;
  grid-template-rows: repeat(3, 400px);
  grid-template-columns: 1000px 900px;
  grid-template-areas: "tip1 imgtip1" "tip2 imgtip2" "tip3 imgtip3";
}
.tips-container .tip1 {
  grid-area: tip1;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 10px;
  font-weight: bold;
}
.tips-container .tip2 {
  grid-area: tip2;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 10px;
  font-weight: bold;
}
.tips-container .tip3 {
  grid-area: tip3;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 10px;
  font-weight: bold;
}
.tips-container .imgtip1 {
  grid-area: imgtip1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
}
.tips-container .imgtip2 {
  grid-area: imgtip2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5px;
}
.tips-container .imgtip2 p {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  width: 50%;
}
.tips-container .imgtip3 {
  grid-area: imgtip3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1px;
}

/* Fin Página Empretips */
/* Página info */
.info-container {
  width: 100%;
  display: grid;
  grid-template-rows: 300px 400px 300px 400px 300px 400px;
  justify-content: center;
  row-gap: 5px;
  font-size: 1rem;
  grid-template-areas: "info1" "imginfo1" "info2" "imginfo2" "info3" "imginfo3";
}
.info-container .info1, .info-container .info2, .info-container .info3 {
  text-align: center;
  margin: 10px 15px 10px 15px;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.info-container .imginfo1, .info-container .imginfo2, .info-container .imginfo3 {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.info-container .info1 {
  grid-area: info1;
}
.info-container .info2 {
  grid-area: info2;
}
.info-container .info3 {
  grid-area: info3;
}
.info-container .imginfo1 {
  grid-area: imginfo1;
}
.info-container .imginfo2 {
  grid-area: imginfo2;
}
.info-container .imginfo3 {
  grid-area: imginfo3;
  margin-bottom: 15px;
}

/* Fin Página info */
/* Página Galeria */
.galeria-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 500px);
  row-gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.galeria-container .galeria1 img {
  margin-left: 5px;
  position: relative;
  left: 15px;
  top: 15px;
}
.galeria-container .galeria2 img {
  margin-left: 5px;
  position: relative;
  left: 350px;
  top: 15px;
}
.galeria-container .galeria3 img {
  margin-left: 5px;
  position: relative;
  left: 15px;
  top: 15px;
}
.galeria-container .galeria4 img {
  margin-left: 5px;
  position: relative;
  left: 280px;
  top: 15px;
}

/* Fin Página Galeria */
/* Página Error */
.mensaje-error {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 35vh;
}
.mensaje-error i {
  font-size: 16rem;
  color: rgba(255, 0, 0, 0.679);
}
.mensaje-error p {
  font-size: 1.5rem;
  font-weight: bold;
}
.mensaje-error button {
  border: solid 1px #debaeb;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ead5f1;
  transition: background-color 0.5s;
}
.mensaje-error button:hover {
  background-color: #debaeb;
}
.mensaje-error button a {
  font-weight: 600;
  color: black;
  transition: color 0.5s;
}
.mensaje-error button a:hover {
  color: white;
}

/* Fin Página Error */
/* Media queries Notebook */
@media (max-width: 1500px) {
  .tips-container {
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: 750px 650px;
  }
  .mapa {
    position: relative;
    left: -240px;
  }
  .galeria-container .galeria1,
  .galeria-container .galeria2,
  .galeria-container .galeria3,
  .galeria-container .galeria4 {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .galeria-container .galeria2 img,
  .galeria-container .galeria4 img {
    left: 50px;
  }
}
/* Media queries Tablet */
@media (max-width: 810px) {
  .navegacion label {
    display: block;
  }
  .header .navegacion-nav {
    display: none;
  }
  .navegacion #check-menu:checked ~ .navegacion-nav {
    background-color: rgba(255, 255, 255, 0.95);
    width: 30%;
    height: 35vh;
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  .tips-container {
    grid-template-rows: repeat(6, 400px);
    grid-template-columns: 750px;
    grid-template-areas: "tip1" "imgtip1" "tip2" "imgtip2" "tip3" "imgtip3";
  }
  .tips-container .imgtip1,
  .tips-container .imgtip2,
  .tips-container .imgtip3 {
    margin-bottom: 50px;
  }
  .tips-container .imgtip2 img {
    position: relative;
    top: -25px;
  }
  .tips-container .tip3 {
    position: relative;
    top: -15px;
  }
  .footer-container .suscribirse {
    display: none;
  }
  .footer-container .desarrollado {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .info-container .info1,
  .info-container .info2,
  .info-container .info3 {
    font-size: 1rem;
  }
  .banner-container {
    display: none;
  }
  .presentacion {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    position: relative;
    right: 55px;
  }
  .presentacion p {
    font-size: 0.8rem;
  }
  .galeria-container .galeria1,
  .galeria-container .galeria2,
  .galeria-container .galeria3,
  .galeria-container .galeria4 {
    display: grid;
    grid-template-columns: repeat(3, 250px);
  }
  .contacto {
    width: 800px;
  }
  .mapa iframe {
    width: 790px;
    position: relative;
    left: 250px;
  }
  body {
    overflow-x: hidden;
  }
}
/* Media queries Smartphones */
@media (max-width: 570px) {
  .tips-container {
    grid-template-rows: repeat(6, 485px);
    grid-template-columns: 380px;
    grid-template-areas: "tip1" "imgtip1" "tip2" "imgtip2" "tip3" "imgtip3";
  }
  .tips-container .tip1,
  .tips-container .tip2,
  .tips-container .tip3 {
    font-size: 0.95rem;
    margin: 20px 0 20px 0;
  }
  .tips-container .tip1 {
    position: relative;
    top: 65px;
  }
  .tips-container .tip3 {
    position: relative;
    top: -120px;
  }
  .tips-container .imgtip1,
  .tips-container .imgtip2,
  .tips-container .imgtip3 {
    width: 100%;
    padding: 30px 0 40px 0;
  }
  .tips-container .imgtip1 {
    margin-top: 90px;
    position: relative;
    top: 15px;
    left: 30px;
  }
  .tips-container .imgtip1 img {
    width: 400px;
    position: relative;
    right: 30px;
  }
  .tips-container .imgtip2 {
    margin-bottom: 350px;
    position: relative;
    width: 445px;
    right: 33px;
  }
  .tips-container .imgtip2 img {
    position: relative;
    top: 10px;
    height: 310px;
    padding-top: 50px;
    width: 400px;
  }
  .tips-container .imgtip2 p {
    font-size: 2rem;
    top: 5px;
  }
  .tips-container .imgtip3 img {
    position: relative;
    top: -50px;
    width: 400px;
  }
  .footer-container .suscribirse {
    display: none;
  }
  .footer-container .desarrollado {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .info-container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 340px 300px 340px 300px 340px;
  }
  .info-container .imginfo1,
  .info-container .imginfo2,
  .info-container .imginfo3 {
    gap: 1px;
  }
  .info-container .info1,
  .info-container .info2,
  .info-container .info3 {
    font-size: 0.9rem;
  }
  .banner-container {
    display: none;
  }
  .presentacion {
    position: relative;
    right: 125px;
    display: flex;
    justify-items: center;
    width: 90%;
  }
  .presentacion img {
    width: 100%;
    position: relative;
    left: 145px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .galeria-container .galeria1,
  .galeria-container .galeria2,
  .galeria-container .galeria3,
  .galeria-container .galeria4 {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
  .galeria-container .galeria1 img,
  .galeria-container .galeria2 img,
  .galeria-container .galeria3 img,
  .galeria-container .galeria4 img {
    position: relative;
    left: -10px;
    margin: 1px;
  }
  .galeria-container .galeria1 h2,
  .galeria-container .galeria2 h2,
  .galeria-container .galeria3 h2,
  .galeria-container .galeria4 h2 {
    text-align: center;
    position: relative;
    left: -15px;
  }
  .contactame {
    font-size: 1rem;
  }
  .botones {
    font-size: 0.65rem;
  }
  .mapa iframe {
    width: 500px;
    height: 300px;
    position: relative;
    left: 273px;
  }
  .contacto {
    width: 400px;
  }
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 480px) {
  .mapa iframe {
    width: 430px;
    left: 265px;
  }
}

/*# sourceMappingURL=style.css.map */
